# Notion Integration Token
NOTION_TOKEN=your_notion_integration_token_here

# Stripe
STRIPE_SECRET_KEY=sk_test_...
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_...

# App URL
NEXT_PUBLIC_URL=https://pagecraft-eight.vercel.app
